:root {
	--color-g: green;
	--color-b: gray;
	--color-y: yellow;
}
body{
	background-image: url("frame.png");
	background-size: 100% 100%;
	width: 100%;
	height: 100%;
}
.wave-div{
	display: flex;
	justify-content: center;
	padding-top: 20px;
}
.level-info{
	text-align: center;
	background-color: #695747;
	font-weight: 700;
	color: yellow;
	width: 220px;
	border-radius: 10px;
	border: 3px solid #4C2C20;
	-webkit-text-stroke-width: 4px;
	-webkit-text-stroke-color: black;
	paint-order: stroke fill;
}
.wave-span{
	background-color: #392d24;
	border-radius: 6px;
	color: white;
	padding: 2px 30px;
	width: fit-content;
	font-weight: 700;
	position:relative;
	top:-14px;
	left: calc((220px - 130px) / 2);
}
#modeName{
	text-transform: uppercase;
}

#hint-div{
	margin: 0.8em;
	overflow-x: auto;
/*	overflow-y: auto;*/
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	max-height: calc(100vh - 310px - 3em);
}
.guess-div{
	text-align: center;    
	display: flex;
  margin: auto;
  width: fit-content;
}
.input-table{
	background-image: url("guess-bg.png");
	background-size: 100% 100%;
	margin: 1.5vh 1em 0px 1em;
	text-align: center;
	vertical-align: middle;
}
.input-table tr td:first-child{ 
	padding-left: 0.5em;
	width:2.5em!important;
}
.input-table tr td:last-child{ 
	padding-right: 0.5em;
	width:2.5em!important;
}
.input-box{
	font-size: 4vh;
	font-weight: 700;
	width: 2em;
	height: 2em;
	padding-bottom: 0.5em;
	color: white;  
	-webkit-text-stroke-width: 7px;
		-webkit-text-stroke-color: black;
		paint-order: stroke fill;
/*			border: 1px solid black;*/
}
.answer-box{
	width: 1.5em;
	height: 1.5em;
	margin-left: 0.25em;
	margin-top: 0.25em;
	padding-top: 0.1em;
	border: 2px solid black;
	border-radius: 5px;
	position: relative;
}
.answer-box.active{
	border: 3px solid red;
}
.answer-box.fixing:before{
	content: "";
	position:absolute;
	top:0px;
	left:0px;
	background: url("screw.png") left 0px top 0px no-repeat,
							url("screw.png") right 0px top 0px no-repeat,
							url("screw.png") left 0px bottom 0px no-repeat,
							url("screw.png") right 0px bottom 0px no-repeat;
	display: inline-block;
	width: 100%;
	height: 100%;
	background-size: 22% 22%;
}
.answer-box.meteorite{
	background: url('hole.png');
	background-size: cover;
	border: none!important;
	background-size: 0%;
	background-position: center;
	background-repeat: no-repeat;
	animation: meteorite 0.5s linear forwards;
}
@keyframes meteorite{
	0% {
		background-size: 0px 0px;
	}
	100% {
		background-size: 100% 100%;
	}
}
.answer-b{
	background-color: gray!important;
}
.answer-y{
	background-color: yellow!important;
}
.answer-g{
	background-color: green!important;
}

.colored.colored-double{
	background: linear-gradient(var(--color1) 50%, var(--color2) 50%);
	transition: all 0.5s;
}
.colored.colored-double[data-show="all"]{
	background-size: 100% 100%;
	background-position: center;
}
.colored.colored-double[data-show="word1"]{
	background-size: 200% 200%;
	background-position: top;
}
.colored.colored-double[data-show="word2"]{
	background-size: 200% 200%;
	background-position: bottom;
}

.colored:not([data-show]){
	background-color: var(--color1);
}
.colored.colored-triple{
	background: linear-gradient(var(--color1) 33%, var(--color2) 33%, var(--color2) 67%, var(--color3) 67%);
	background-position: center;
	transition: all 0.5s;
}
.colored.colored-triple[data-show="all"]{
	background-size: 100% 100%;
	background-position: center;
}
.colored.colored-triple[data-show="word1"]{
	background-size: 300% 300%;
	background-position: top;
}
.colored.colored-triple[data-show="word2"]{
	background-size: 300% 300%;
	background-position: center;
}
.colored.colored-triple[data-show="word3"]{
	background-size: 300% 300%;
	background-position: bottom;
}
.answer-box[data-animation="flip-in"]{
	animation: FlipIn 0.4s ease-in;
}
@keyframes FlipIn {
	0% {
    transform: rotateX(0);
  }
  100% {
    transform: rotateX(-90deg);
  }
}
.answer-box[data-animation="flip-out"]{
	animation: FlipOut 0.4s ease-in;
}
@keyframes FlipOut {
	0% {
    transform: rotateX(-90deg);
  }
  100% {
    transform: rotateX(0);
  }
}

#input-area{
	position: absolute;
	transform: translate(-50%, 0);
	left: 50%;
	bottom: 3em;
	width: 90%;
	display: flex;
	align-items: center;
}

.lying-hint{
	margin-top: 1.5vh;
	visibility: hidden;
}
.lying-hint-btn{
	display: block;
	background-color: #695747;
  border: 1px solid #4C2C20;
  border-radius: 3px;
  width: 1.5em;
  font-weight: 700;
}
.lying-hint-btn[data-hint="truth"]{
	color: #73e703;

}
.lying-hint-btn[data-hint="unknown"]{
  color: #fff;
}
.lying-hint-btn[data-hint="lie"]{
  color: #fc4040;
}
.lying-hint-btn:not(.active){
	opacity: 0.3;
}

#word-selection{
	position: absolute;
	top: 2em;
	right: 2em;
  border: 3px solid #4C2C20;
	background-color: #695747;
	border-radius: 5px;
	display:flex;
}
#word-selection div{
	flex: 1;
	width: 5em;
	text-align: center;
	cursor: pointer;
}
#word-selection div.active{
	background-color: #df9859;
	font-weight: 700;
	color:white;
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: black;
	paint-order: stroke fill;
}

#keyboard{
	flex: 4.5;
	margin: auto;
}
.keyboard-row{
  display: flex;
  width: 100%;
  margin: 0 auto 8px;
  touch-action: manipulation;
}
.keyboard-key {
  font-size: 1.25em;
  font-weight: bold;
  border: 0;
  padding: 0;
  margin: 0 6px 0 0;
  height: 58px;
  border: 3px solid #4C2C20;
  border-radius: 10px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: #695747;
  color: black;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  -webkit-tap-highlight-color: rgba(0,0,0,.3);
  color: white;
  font-weight: 700;
	-webkit-text-stroke-width: 4px;
	-webkit-text-stroke-color: black;
	paint-order: stroke fill;
}

.keyboard-key.colored:not([data-show]){
	background-color: var(--color1);
}
.keyboard-key.colored[data-transparent1]:not([data-show]),
.keyboard-key.colored[data-show="word1"][data-transparent1],
.keyboard-key.colored[data-show="word2"][data-transparent2],
.keyboard-key.colored[data-show="word3"][data-transparent3],
.keyboard-key.colored[data-show="double"][data-transparent1][data-transparent2],
.keyboard-key.colored[data-show="triple"][data-transparent1][data-transparent2][data-transparent3]
{
	opacity: 0.3;
}

#mixingPanel{
	position: fixed;
	left: 1em;
	top: 1em;
	background-color: #392d24;
	border: 3px solid #4C2C20;
}
.mixingRow{
	display: flex;
	color: white;
	align-items: center;
	justify-content: space-around;
	padding: 3px;
	gap: 1em;
}
.mixingRow .colorBox{
	width: 2em;
	height: 2em;
	cursor: pointer;
}
.mixingRow .colorBox[data-color="green"]{
	background-color: green;
}
.mixingRow .colorBox[data-color="black"]{
	background-color: grey;
}
.mixingRow .colorBox[data-color="yellow"]{
	background-color: yellow;
}
.mixingRow .colorBox[data-color="unknown"]{
	background-color: #ffffff22;
}
.mixingRow .colorBox.active{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	border: 3px solid red;
}
.mixingRow .colorBox.active:after{
	content: "";
	position: relative;
	left: calc(2em + 4px);
	top: calc(0.5em - 1.5px);
    display:block;
    width:0;
    height:0;

    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-right:6px solid #4C2C20;
}
#colorSelector{
	position: absolute;
	border: 3px solid #4C2C20;
	top: -3px;
	right: calc(-2.5em - 9px);
	width: 2.5em;
	background-color: #392d24;
}
.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  left: 50%;
  width: 1.2em;
  height: 3.3em;
  transform: translateX(-50%) rotate(-90deg);
}

/* Hide default HTML checkbox */
.switch .chk {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 5px;
}

.slider:before {
  position: absolute;
  content: "";
  height: .5em;
  width: 2.4em;
  border-radius: 5px;
  left: -0.6em;
  top: 0.2em;
  background-color: white;
  box-shadow: 0 6px 7px rgba(0,0,0,0.3);
  transition: .4s;
}

.slider:before, .slider:after {
  content: "";
  display: block;
}

.slider:after {
  background: linear-gradient(transparent 50%, rgba(255, 255, 255, 0.15) 0) 0 50% / 50% 100%,
		repeating-linear-gradient(90deg,rgb(255, 255, 255) 0,rgb(255, 255, 255),rgb(255, 255, 255) 20%,rgb(255, 255, 255) 20%,rgb(255, 255, 255) 40%) 0 50% / 50% 100%,
		radial-gradient(circle at 50% 50%,rgb(255, 255, 255) 25%, transparent 26%);
  background-repeat: no-repeat;
  border: 0.25em solid transparent;
  border-left: 0.4em solid #ffffff;
  border-right: 0 solid transparent;
  transition: border-left-color 0.1s 0.3s ease-out, transform 0.3s ease-out;
  transform: translateX(-22.5%) rotate(90deg);
  transform-origin: 25% 50%;
  position: relative;
  top: 0.5em;
  left: 0.55em;
  width: 2em;
  height: 1em;
  box-sizing: border-box;
}

.chk:checked + .slider {
  background-color: dodgerblue;
}

.chk:focus + .slider {
  box-shadow: 0 0 1px dodgerblue;
}

.chk:checked + .slider:before {
  transform: translateY(2.3em);
}

.chk:checked + .slider:after {
  transform: rotateZ(90deg) rotateY(180deg) translateY(0.45em) translateX(-1.4em);
}

.keyboard-halfkey {
	flex: 0.5;
}
.keyboard-functionkey {
	flex: 1.5!important;
}

.keyboard-key.not{
	background: 
     linear-gradient(to top left,
         rgba(0,0,0,0) 0%,
         rgba(0,0,0,0) calc(50% - 5px),
         rgba(255,0,0,1) calc(50% - 5px),
         rgba(255,0,0,1) calc(50% + 5px),
         rgba(0,0,0,0) calc(50% + 5px),
         rgba(0,0,0,0) 100%),
     linear-gradient(to top right,
         rgba(0,0,0,0) 0%,
         rgba(0,0,0,0) calc(50% - 5px),
         rgba(255,0,0,1) calc(50% - 5px),
         rgba(255,0,0,1) calc(50% + 5px),
         rgba(0,0,0,0) calc(50% + 5px),
         rgba(0,0,0,0) 100%);
}
.keyboard-key.not.shaking{
	animation: shake 0.8s cubic-bezier(.36, .07, .19, .97) both;
}

@keyframes shake {
  10%,
  90% {
    transform: rotate(-3deg);
  }
  20%,
  40%,
  60%,
  80% {
    transform: rotate(0deg);
  }
  30%,
  50%,
  70% {
    transform: rotate(3deg);
  }
}


.functionBtn-div{
	flex:1;
}
.functionBtn-div > div{
	padding: 0.5em 2em;
}
.submit-btn, .backspace-btn{
	width:100%;
	font-size: 18pt;
	border-radius: 5px / 50%;
	background-color: #EED149;
	color: white;  
}
.summon-label{
	background-color: #D3A73D;
	font-weight: 700;
	border-radius: 3px 3px 0px 0px / 100% 100% 0% 0%;
	margin: 1px -2px;
	padding: 8px 8px;
	-webkit-text-stroke-width: 3px;
		-webkit-text-stroke-color: black;
		paint-order: stroke fill;
}
.cost-label{
	background-color: #29191A;
	width: 2.5em;
	height: 1.5em;
	margin: 10px auto;
	font-weight: 700;
	text-align: right;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0.5em;
	border-radius: 20px;
}

.cost-label img{
	position: relative;
	left: -0.2em;
	top: -3px;
}

#modeSelect .modal-content{
	background-color: #a36b42;
	border: 3px solid #392d24;
	border-radius: 10px;
	color: white;
}
.modal-header{
	border-bottom: none!important;
}
.mode-select-btn{
	margin: 0.8em;
	padding: 1.8em;
	display:flex;
	justify-content:center;
	align-items:center;
	border: 3px solid #392d24;
	cursor: pointer;
}
.mode-select-btn.disabled{
	background-color: #412916;
	color: #000;
	cursor: not-allowed!important;
}
.mode-select-btn:not(.disabled){
	color: yellow;
	font-weight: 700;
	-webkit-text-stroke-width: 6px;
	-webkit-text-stroke-color: black;
	paint-order: stroke fill;
}	paint-order: stroke fill;
}
