body{
	background-image: url("frame.png");
	background-size: 100% 100%;
}
.wave-div{
	display: flex;
	justify-content: center;
	padding-top: 20px;
}
.level-info{
	text-align: center;
	background-color: #695747;
	font-weight: 700;
	color: yellow;
	width: 220px;
	border-radius: 10px;
	border: 3px solid #4C2C20;
	-webkit-text-stroke-width: 4px;
	-webkit-text-stroke-color: black;
	paint-order: stroke fill;
}
.wave-span{
	background-color: #392d24;
	border-radius: 6px;
	color: white;
	padding: 2px 30px;
	width: fit-content;
	font-weight: 700;
	position:relative;
	top:-14px;
	left: calc((220px - 130px) / 2);
}
#modeName{
	text-transform: uppercase;
}

#hint-div{
	margin: 0.8em;
	max-height: 70%;
	overflow-x: auto;
/*	overflow-y: auto;*/
/*}.grid {*/
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-auto-flow: column;
}
.guess-div{
	text-align: center;    
	display: flex;
  margin: auto;
  width: fit-content;
}
.input-table{
	background-image: url("guess-bg.png");
	background-size: 100% 100%;
	margin-top: 1.5vh;
	text-align: center;
	vertical-align: middle;
}
.input-table tr td:first-child{ 
	padding-left: 0.5em;
	width:2.5em!important;
}
.input-table tr td:last-child{ 
	padding-right: 0.5em;
	width:2.5em!important;
}
.input-box{
	font-size: 4vh;
	font-weight: 700;
	width: 2em;
	height: 2em;
	padding-bottom: 0.5em;
	color: white;  
	-webkit-text-stroke-width: 7px;
		-webkit-text-stroke-color: black;
		paint-order: stroke fill;
/*			border: 1px solid black;*/
}
.answer-box{
	width: 1.5em;
	height: 1.5em;
	margin-left: 0.25em;
	margin-top: 0.25em;
	padding-top: 0.1em;
	border: 2px solid black;
	border-radius: 5px;
	position: relative;
}
.answer-box.active{
	border: 3px solid red;
}
.answer-box.fixing:before{
	content: "";
	position:absolute;
	top:0px;
	left:0px;
	background: url("screw.png") left 0px top 0px no-repeat,
							url("screw.png") right 0px top 0px no-repeat,
							url("screw.png") left 0px bottom 0px no-repeat,
							url("screw.png") right 0px bottom 0px no-repeat;
	display: inline-block;
	width: 100%;
	height: 100%;
	background-size: 22% 22%;
}
.answer-box.meteorite{
	background: url('hole.png');
	background-size: cover;
	border: none!important;
}
.answer-b{
	background-color: gray!important;
}
.answer-y{
	background-color: yellow!important;
}
.answer-g{
	background-color: green!important;
}

#input-area{
	position: absolute;
	transform: translate(-50%, 0);
	left: 50%;
	bottom: 3em;
	width: 90%;
	display: flex;
	align-items: center;
}

.lying-hint{
	margin-top: 1.5vh;
	visibility: hidden;
}
.lying-hint-btn{
	display: block;
	background-color: #695747;
  border: 1px solid #4C2C20;
  border-radius: 3px;
  width: 1.5em;
  font-weight: 700;
}
.lying-hint-btn[data-hint="truth"]{
	color: #73e703;

}
.lying-hint-btn[data-hint="unknown"]{
  color: #fff;
}
.lying-hint-btn[data-hint="lie"]{
  color: #fc4040;
}
.lying-hint-btn:not(.active){
	opacity: 0.3;
}

#keyboard{
	flex: 4.5;
	margin: auto;
}
.keyboard-row{
  display: flex;
  width: 100%;
  margin: 0 auto 8px;
  touch-action: manipulation;
}
.keyboard-key {
  font-size: 1.25em;
  font-weight: bold;
  border: 0;
  padding: 0;
  margin: 0 6px 0 0;
  height: 58px;
  border: 3px solid #4C2C20;
  border-radius: 10px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: #695747;
  color: black;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  -webkit-tap-highlight-color: rgba(0,0,0,.3);
  color: white;
  font-weight: 700;
	-webkit-text-stroke-width: 4px;
	-webkit-text-stroke-color: black;
	paint-order: stroke fill;
}

.keyboard-key.answer-b {
	opacity: 0.3;
}
.keyboard-halfkey {
	flex: 0.5;
}
.keyboard-functionkey {
	flex: 1.5!important;
}

.keyboard-key.not{
	background: 
     linear-gradient(to top left,
         rgba(0,0,0,0) 0%,
         rgba(0,0,0,0) calc(50% - 5px),
         rgba(255,0,0,1) calc(50% - 5px),
         rgba(255,0,0,1) calc(50% + 5px),
         rgba(0,0,0,0) calc(50% + 5px),
         rgba(0,0,0,0) 100%),
     linear-gradient(to top right,
         rgba(0,0,0,0) 0%,
         rgba(0,0,0,0) calc(50% - 5px),
         rgba(255,0,0,1) calc(50% - 5px),
         rgba(255,0,0,1) calc(50% + 5px),
         rgba(0,0,0,0) calc(50% + 5px),
         rgba(0,0,0,0) 100%);
}
.keyboard-key.not.shaking{
	animation: shake 0.8s cubic-bezier(.36, .07, .19, .97) both;
}

@keyframes shake {
  10%,
  90% {
    transform: rotate(-3deg);
  }
  20%,
  40%,
  60%,
  80% {
    transform: rotate(0deg);
  }
  30%,
  50%,
  70% {
    transform: rotate(3deg);
  }
}


.functionBtn-div{
	flex:1;
}
.functionBtn-div > div{
	padding: 0.5em 2em;
}
.submit-btn, .backspace-btn{
	width:100%;
	font-size: 18pt;
	border-radius: 5px / 50%;
	background-color: #EED149;
	color: white;  
}
.summon-label{
	background-color: #D3A73D;
	font-weight: 700;
	border-radius: 3px 3px 0px 0px / 100% 100% 0% 0%;
	margin: 1px -2px;
	padding: 8px 8px;
	-webkit-text-stroke-width: 3px;
		-webkit-text-stroke-color: black;
		paint-order: stroke fill;
}
.cost-label{
	background-color: #29191A;
	width: 2.5em;
	height: 1.5em;
	margin: 10px auto;
	font-weight: 700;
	text-align: right;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0.5em;
	border-radius: 20px;
}

.cost-label img{
	position: relative;
	left: -0.2em;
	top: -3px;
}

#modeSelect .modal-content{
	background-color: #a36b42;
	border: 3px solid #392d24;
	border-radius: 10px;
	color: white;
}
.modal-header{
	border-bottom: none!important;
}
.mode-select-btn{
	margin: 0.8em;
	padding: 1.8em;
	display:flex;
	justify-content:center;
	align-items:center;
	border: 3px solid #392d24;
	cursor: pointer;
}
.mode-select-btn.disabled{
	background-color: #412916;
	color: #000;
	cursor: not-allowed!important;
}
